.DS_STORE
.eslintrc.js
.github/
.nvmrc
.prettierrc
.storybook/
tsconfig.json

coverage
node_modules
public
src
static

*.config.js
*.config.ts

.rpt2_cache
.cache
.env*


# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# storybook
.out
docs-build
