.DS_STORE
.jest/
.github/
.storybook/
.eslintrc.js
coverage/
node_modules/
static/
src/
.nvmrc
.prettierrc
tsconfig.json
*.md
THIRD-PARTY.txt

*.config.js
*.config.mjs
*.config.ts

.rpt2_cache
.cache
.env*


# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# storybook
.out
docs-build
