.filter {
  height: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0px 20px;
}

.table {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.ref {
  height: 20px;
}
