@import '../../../assets/colors.scss';

.container {
  position: relative;
  border-radius: 8px;
  padding: 20px;
  background-color: $skyhigh;

  &.information {
    background-color: $skyhigh;
  }
}
