.container {
  border-radius: 4px;
  border: 1px solid rgb(var(--theme-provider-chalk));
  padding: 6px 8px;
  outline: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;

  &:not(.error, :disabled, :read-only):focus,
  &:not(.error, :disabled, :read-only):active,
  &:not(.error, :disabled, :read-only):hover {
    border: 1px solid rgb(var(--theme-provider-scooter));
  }
}

.error,
.error:focus,
.error:active,
.error:hover {
  border: 1px solid rgb(var(--theme-provider-error));
}

.disabled,
.disabled:focus,
.disabled:active,
.disabled:hover {
  border: 0px;
  background-color: rgb(var(--theme-provider-chalk));
  color: rgb(var(--theme-provider-pebble));
}

.highlighted,
.highlighted:focus,
.highlighted:active,
.highlighted:hover {
  color: rgb(var(--theme-provider-tangerine));
}
