@import '../../../assets/colors';

:export {
  buttercup: $buttercup;
  cerulean: $cerulean;
  charcoal: $charcoal;
  cinnabar: $cinnabar;
  chalk: $chalk;
  error: $error;
  fern: $fern;
  pebble: $pebble;
  primary: $primary;
  scooter: $scooter;
  secondary: $secondary;
  silver: $silver;
  sky: $sky;
  skyhigh: $skyhigh;
  smoke: $smoke;
  tangerine: $tangerine;
  tertiary: $tertiary;
  whiteColor: $white;
}
