.amount-field {
  outline: none;
  text-align: right;
  border: 1px solid $chalk;
  border-radius: 4px;
  padding: 6px 8px;
  white-space: nowrap;

  &:hover:not(:disabled):not(:read-only),
  &:focus:not(:disabled):not(:read-only) {
    border: 1px solid $primary;
  }

  &:disabled {
    border: 1px solid transparent;
    background-color: $chalk;
    color: $pebble;
  }

  &.amount-field-read-only {
    text-align: left;
    border: none;
    height: unset;
    cursor: default;
  }

  &.amount-field-error {
    border: 1px solid $error;
  }
}
