.badge {
  text-align: center;
  margin: 4px;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  &.pill {
    padding-right: 0.4em;
    padding-left: 0.3em;
    border-radius: 10rem;
  }

  &.primary {
    background-color: $primary;
    color: $white;
  }

  &.secondary {
    background-color: $secondary;
    color: $white;
  }

  &.tertiary {
    background-color: $tertiary;
    color: $white;
  }

  &.status {
    background-color: $silver;
    color: $white;
  }

  &.danger {
    background-color: $error;
    color: $white;
  }

  &.warning {
    background-color: $buttercup;
    color: $white;
  }

  &.success {
    background-color: $fern;
    color: $white;
  }

  &.high {
    background-color: $cinnabar;
    color: $white;
  }

  &.medium {
    background-color: $tangerine;
    color: $white;
  }

  &.low {
    background-color: $buttercup;
    color: $white;
  }
}
