@use 'sass:color';

.button-content {
  display: flex;
  flex-direction: row;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto 4px;

  &[color='primary'] {
    background-color: $primary;
    color: $white;

    &:not(:disabled) {
      &:hover {
        background-color: color.change($primary, $alpha: 0.8);
      }

      &:active,
      &:hover:active {
        background-color: saturate($primary, 15);
      }
    }
    &:disabled {
      background-color: $silver;
      cursor: default;
    }
  }

  &[color='secondary'] {
    background-color: $secondary;
    color: $white;

    &:not(:disabled) {
      &:hover {
        background-color: color.change($secondary, $alpha: 0.8);
      }

      &:active,
      &:hover:active {
        background-color: $charcoal;
      }
    }
    &:disabled {
      background-color: $silver;
      cursor: default;
    }
  }

  &[color='reversed'] {
    background-color: transparent;
    color: $charcoal;

    &:not(:disabled) {
      &:hover {
        background-color: $silver;
      }

      &:active,
      &:hover:active {
        background-color: $charcoal;
        color: $white;
      }
    }
    &:disabled {
      color: $silver;
      cursor: default;
    }
  }

  .button-icon-container,
  .button-menu-control-container {
    margin: auto;
    .button-icon {
      margin: 0 5px;
    }
  }

  .button-label-container {
    margin: auto 5px;
  }
}

.button {
  .szh-menu__item {
    background-color: $white;
    color: $charcoal;
  }
  .szh-menu__item--hover {
    background-color: $chalk;
    color: $charcoal;
  }
  .szh-menu__item--active {
    background-color: $primary;
    color: $white;
  }
}
