@use 'sass:color';

.gds-checkbox-container {
  display: flex;
  flex-direction: column;

  &.inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    label {
      display: inline;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-bottom: 0px;

      .checkbox-marker {
        display: inline;
        padding-right: 8px;
        padding-left: 8px;
      }
    }
  }

  label {
    display: inline-flex;
    padding-bottom: 8px;
    width: fit-content;
    cursor: pointer;
    user-select: none;

    &:last-child {
      padding-bottom: 0px;
    }

    .checkbox-marker {
      padding-right: 8px;
    }

    &:not(.input-checkbox-field-read-only),
    &:not(.input-checkbox-field-disabled) {
      &:not(.input-checkbox-field-checked) {
        .checkbox-marker {
          color: $pebble;
          &:hover {
            color: $primary;
          }
        }
      }

      &.input-checkbox-field-checked {
        .checkbox-marker {
          color: $primary;
        }
      }
    }

    &.input-checkbox-field-read-only,
    &.input-checkbox-field-disabled {
      cursor: default;
      color: $pebble;

      &:not(.input-checkbox-field-checked) {
        .checkbox-marker,
        .checkbox-marker:hover {
          color: $silver;
        }
      }

      &.input-checkbox-field-checked {
        .checkbox-marker,
        .checkbox-marker:hover {
          color: $silver;
        }
      }
    }
  }
}
