@use 'sass:color';

.checkbox-container {
  display: flex;
  flex-direction: column;

  label {
    display: inline-flex;
    position: relative;
    margin-bottom: 8px;
    width: fit-content;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .checkbox-marker {
      margin-right: 8px;
    }

    &:not(.input-checkbox-field-read-only),
    &:not(.input-checkbox-field-disabled) {
      &:not(.input-checkbox-field-checked) {
        .checkbox-marker {
          color: $pebble;
          &:hover {
            color: $primary;
          }
        }
      }

      &.input-checkbox-field-checked {
        .checkbox-marker {
          color: $primary;
        }
      }
    }

    &.input-checkbox-field-read-only,
    &.input-checkbox-field-disabled {
      color: $pebble;

      &:not(.input-checkbox-field-checked) {
        .checkbox-marker,
        .checkbox-marker:hover {
          color: $silver;
        }
      }

      &.input-checkbox-field-checked {
        .checkbox-marker,
        .checkbox-marker:hover {
          color: $silver;
        }
      }
    }
  }
}
