@use 'sass:color';

.gds-table {
  .table--header-value {
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: space-between;

    &.table--header-value--sortable {
      cursor: pointer;
      user-select: none;
    }

    .table--header-value--title {
      flex: 1;
      position: relative;
      font-weight: 700;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.center {
        text-align: center;
      }
      &.left {
        text-align: left;
      }
      &.right {
        text-align: right;
      }
    }

    .table--header-value--sorter {
      color: $charcoal;
      width: 1.5rem;
    }
  }
  .table--cell-value--date-readonly input {
    text-align: center;
  }

  .table--cell-value--amount-readonly,
  .table--cell-value--number-readonly,
  .table--cell-value--percentage-readonly {
    text-align: right !important;
  }

  .table--cell--value--badge-no-margin {
    margin: 0px;
  }

  .table--cell-value--negative {
    color: $error;
  }

  .table--cell--code {
    text-align: center;
  }

  .table--cell--value--button {
    display: flex;
    float: right;
  }

  .table--footer-value {
    flex: 1;
    &.center {
      text-align: center;
    }
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
  }
}

/// STYLING

.gds-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  tbody > tr {
    &.pointer {
      cursor: pointer;
    }
    &:hover {
      background-color: color.change($chalk, $alpha: 0.33);
    }

    &:active {
      background-color: color.change($chalk, $alpha: 0.66);
    }

    &:active {
      background-color: color.change($chalk, $alpha: 0.66);
    }

    &.selected {
      background-color: color.change($primary, $alpha: 0.33);
    }

    &:active.selected {
      background-color: color.change($primary, $alpha: 0.66);
    }
    &.no-data {
      background-color: $white !important;
      td {
        text-align: center;
      }
    }
  }

  thead > tr > th {
    padding: 8px 12px;
    border-bottom: 1px solid $chalk;

    &.table--header--selectable {
      padding: auto 2px;
      width: 20px;
    }
  }

  tbody > tr > td {
    white-space: normal;
    border-bottom: 1px solid $chalk;
    padding: 6px 12px;

    &.ellipsis {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    &.table--value--selectable {
      padding: auto 2px;
      width: 20px;

      .checkbox-marker {
        color: $pebble;
        &:hover {
          color: $primary;
        }
        &.selected {
          color: $primary;
        }
      }
    }
    &.table--value--selectable-disabled {
      padding: auto 2px;
      width: 20px;

      .checkbox-marker {
        color: $chalk;
      }
    }
  }

  tbody > tr:last-child > td {
    border-bottom: none;
  }

  tfoot > tr > td {
    white-space: normal;
    border-top: 1px solid $silver;
    padding: 6px 12px;
    text-overflow: ellipsis;
  }
}

.gds-table-new-line {
  margin-top: 16px;
  margin-left: 16px;
}
