@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}

* {
  font-family: var(--theme-provider-font-family);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
