.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    flex: 1;
    margin: 10px 10px;
    overflow-x: hidden;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;

  > * {
    flex: 1;
    margin: 10px 10px;
    overflow-y: hidden;
  }
}

.collapse-container {
  padding: 20px;

  .collapse-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $charcoal;
    cursor: pointer;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 600;

    .icon {
      transform: rotate(-90deg);
      transition: transform 0.5s linear;
      &.open {
        transform: rotate(90deg);
      }
    }
  }

  .collapse-body {
    position: inherit;
    overflow: hidden;
  }

  .collapse-footer {
    padding: 10px 0px;
    border-bottom: 1px solid $silver;
  }
}
