.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    flex: 1;
    margin: 10px 10px;
    overflow-x: hidden;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;

  > * {
    flex: 1;
    margin: 10px 10px;
    overflow-y: hidden;
  }
}
