.gds-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    flex: 1;
    margin: 10px 10px;
  }
}

.gds-col {
  display: flex;
  flex-direction: column;
  flex: 1;

  > * {
    flex: 1;
    margin: 10px 10px;
  }
}

.gds-section-container {
  .section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $charcoal;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 600;
    &.collapsable {
      cursor: pointer;
    }

    .icon {
      transform: rotate(-90deg);
      transition: transform 0.5s linear;
      &.open {
        transform: rotate(90deg);
      }
    }
  }

  .section-body {
    overflow: hidden;
  }

  .section-footer {
    padding: 10px 0px;
    border-bottom: 1px solid $silver;
  }
}
