.gds-link-container {
  margin: auto;
  color: $charcoal;
  a,
  a:hover,
  a:focus,
  a:visited {
    color: unset;
  }

  &:hover,
  &:focus {
    color: $primary;
  }

  .icon {
    margin: auto 8px;
  }
}
