.gds-popover-container {
  width: fit-content;
  padding: 8px;
  display: flex;
  flex-direction: column;

  .popover-title {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
  }

  .popover-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    -webkit-justify-content: flex-end;

    & > * {
      margin: auto 4px;
    }
  }
}
