.gds-portfolio {
  display: flex;
  flex-direction: column;
  flex: 1 1;

  .gds-portfolio-filter {
    padding: 0px 20px;
    height: 64px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .gds-portfolio-table {
    padding: 0px 20px;
  }
}
