/************/
/* TEXTAREA */
/************/

div.input-textarea-parent {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;

  textarea {
    flex: 1;
    resize: none;
    min-height: 80px;
    max-height: 200px;
    border-radius: 4px;
    border: 1px solid $chalk;
    padding: 6px 10px;
    outline: 0;

    &:not(.input-error):not(:disabled):not(:read-only):focus,
    &:not(.input-error):not(:disabled):not(:read-only):active,
    &:not(.input-error):not(:disabled):not(:read-only):hover {
      border: 1px solid $primary;
    }

    &:read-only,
    &:read-only:hover,
    &:read-only:active,
    &:read-only:focus {
      border: 1px solid $chalk;
    }

    &.input-error {
      border: 1px solid $error;
    }

    &:disabled {
      border: 0px;
      background-color: $chalk;
      color: $pebble;
    }
  }
}
