.gds-input-text-field {
  border-radius: 4px;
  border: 1px solid $chalk;
  padding: 6px 8px;
  outline: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;

  &:not(.input-error):not(:disabled):focus,
  &:not(.input-error):not(:disabled):active,
  &:not(.input-error):not(:disabled):hover {
    border: 1px solid $primary;
  }

  &.input-error {
    border: 1px solid $error;
  }

  &:disabled {
    border: 0px;
    background-color: $chalk;
    color: $pebble;
  }
}
