*.gds-typography {
  white-space: wrap;
  display: block;

  &.ellipsis {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

[contenteditable='true'].gds-typography {
  white-space: nowrap;
  overflow: hidden;
  br {
    display: none;
  }
  * {
    display: inline;
    white-space: nowrap;
  }
}

h1.gds-typography {
  margin: auto 0px;
  text-transform: uppercase;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
}

h2.gds-typography {
  margin: auto 0px;
  font-size: 18px;
  font-weight: 600px;
}

h3.gds-typography {
  margin: auto 0px;
  font-size: 16px;
  font-weight: 600;
}

span.gds-typography {
  &.link {
    cursor: pointer;
    text-decoration: underline;
  }
  &.tiny {
    font-size: 12px;
  }
  &.label {
    font-weight: 600;
  }
  &.placeholder {
    color: $pebble;
  }
  &.counter {
    font-size: 12px;
  }
  &.helper {
    font-size: 12px;
    font-style: italic;
  }
  &.error {
    font-size: 12px;
    color: $error;
  }
  &.highlighted {
    color: $tangerine;
  }
  &.disabled {
    color: $pebble;
  }
}
