@use 'sass:math';

.fieldGroup {
  display: flex;
  flex-direction: column;
  min-width: 50px;
}

.inline {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.highlighted {
  color: rgb(var(--theme-provider-tangerine));
}

@for $size from 1 through 12 {
  .size-#{$size} {
    width: percentage(math.div($size, 12));
    flex: unset !important;
    flex-grow: unset !important;
  }
}
